<app-navbar />
<div class="container">
  <h1 class="about">About the artist</h1>
  <hr />
  <p class="about">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id magna nec
    quam posuere tempor. Sed sit amet ex finibus, tincidunt arcu vel, elementum
    purus. Quisque pulvinar pulvinar augue, eget malesuada tellus tristique a.
    Mauris lobortis nunc lacus, sit amet aliquet ipsum aliquet eu. Interdum et
    malesuada fames ac ante ipsum primis in faucibus. In mattis pharetra quam id
    sagittis. Etiam et magna eu eros eleifend sollicitudin id a nisi. Nunc
    laoreet nibh at mauris dapibus, sit amet vestibulum arcu mollis. Proin in
    semper lacus. Sed turpis massa, pharetra pretium aliquam et, luctus eget
    ligula. Integer ac metus dapibus, efficitur quam vel, consectetur purus.
    Curabitur viverra ex at diam scelerisque imperdiet nec vel orci. Proin
    luctus venenatis augue vitae sodales. Etiam tincidunt tincidunt consequat.
    Vestibulum dignissim mattis efficitur. Cras non diam lectus. In interdum
    metus et eros eleifend, ac egestas ante posuere. Integer ac est vitae nisl
    mollis sollicitudin sed id tellus. Proin vitae scelerisque arcu, eget
    fermentum neque. Pellentesque habitant morbi tristique senectus et netus et
    malesuada fames ac turpis egestas. Morbi vitae nulla at nunc egestas viverra
    vel ac mauris. Vestibulum cursus tortor odio. Vivamus tempor gravida velit,
    accumsan lobortis nisi tempor vulputate. Cras convallis imperdiet
    consectetur. Sed venenatis laoreet tellus, eu bibendum turpis tempor et.
    Praesent lacus nibh, dictum ut magna ac, convallis luctus dolor. Mauris
    imperdiet augue felis, vel pharetra massa interdum rutrum. Quisque egestas,
    nisi at varius fermentum, orci velit vulputate risus, finibus rutrum tellus
    ligula et nunc. Quisque aliquet, magna eu malesuada feugiat, nisl elit
    iaculis elit, ut porta nisi libero scelerisque felis. Aliquam pulvinar
    faucibus magna, id fermentum nulla. Curabitur gravida accumsan elit at
    blandit. Maecenas convallis eleifend lorem, at cursus libero vestibulum
    vehicula. Donec pretium ex quis eros aliquet interdum. Pellentesque eget
    magna aliquam, sodales nisl id, hendrerit ex. Quisque felis nisi, feugiat eu
    sapien sit amet, varius ornare ex. Sed et arcu elit. Nulla et enim et purus
    aliquam feugiat. Nulla ac augue lectus. Integer et mauris fermentum felis
    euismod feugiat vel ullamcorper magna. Praesent malesuada sapien id mi
    semper blandit. Duis ac suscipit ligula, ut commodo felis. Vestibulum mattis
    turpis urna, id tincidunt est finibus id. Pellentesque ac rhoncus lacus, at
    pharetra ante. Sed rutrum lectus vel neque rutrum vestibulum. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Aenean tincidunt quam libero, eu tristique nibh maximus nec. Curabitur vitae
    bibendum ante. Cras accumsan suscipit dolor, porta fermentum justo feugiat
    id. Quisque at nulla ac lacus pharetra elementum. Aenean tincidunt eget quam
    in ullamcorper. Mauris scelerisque mauris ut iaculis dictum. Aliquam at
    risus nec lorem gravida ullamcorper. Nulla vel mi interdum orci tempor
    dapibus non rutrum lacus.
  </p>
</div>
<app-footer />
