<app-navbar />
<div class="container">
  <div class="row" style="padding-top: 50px">
    <h1 class="about">About the Artist</h1>
    <hr />
    <div class="col-md-7">
      <p class="about">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id
        dapibus urna. Pellentesque leo velit, fermentum quis mattis ut, congue
        sed nisi. Sed finibus gravida diam. Suspendisse ut augue venenatis,
        tristique lorem pellentesque, dignissim ante. Aliquam erat volutpat.
        Etiam sed congue nisl, ac interdum orci. Sed facilisis et neque eu
        dignissim. Pellentesque sollicitudin tempus posuere. Sed non sapien non
        nisi consequat faucibus. Mauris scelerisque orci dapibus lorem
        consectetur porta. Aenean sit amet sem et quam porta euismod. Fusce
        rhoncus dui massa, vel euismod est suscipit id. Suspendisse semper
        efficitur dignissim. Sed cursus in augue rutrum efficitur. Nunc quis
        dapibus lorem. Praesent pellentesque metus quis tempor porta. Morbi
        volutpat convallis mauris ac maximus. Ut dictum sodales molestie. Cras
        hendrerit urna et tellus bibendum, sit amet efficitur massa pharetra.
        Quisque justo magna, pretium vel dapibus eu, venenatis et erat. Nunc
        hendrerit sem eu ullamcorper dignissim. Nullam finibus, lorem quis
        auctor ultricies, lacus lectus venenatis augue, sed volutpat nulla enim
        quis arcu. Duis sagittis faucibus arcu, quis consectetur turpis
        ullamcorper et. Curabitur gravida, mi lacinia eleifend malesuada, odio
        sem scelerisque leo, sit amet hendrerit nisl enim nec justo. Nulla odio
        quam, iaculis in euismod vitae, lacinia a magna. Praesent tempus est id
        ante iaculis, et tincidunt eros volutpat. Maecenas placerat nisl sed
        dignissim tristique. Nunc convallis, ligula eget interdum vehicula, nisl
        ipsum posuere neque, in feugiat erat enim at metus. Aenean nisl nulla,
        blandit in mi vel, tempus congue est. Ut venenatis nulla vel lacinia
        accumsan. Nunc malesuada dui congue ex pulvinar, sed porta lacus
        interdum. Nam ornare tortor posuere est finibus consequat. Mauris
        vestibulum varius turpis, sed mollis urna varius in. Curabitur vel
        consequat mauris. Cras nunc dui, pellentesque et sapien id, mattis
        interdum purus.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../../../assets/images/Peces.jpg"
        alt="Artist Image"
        class="img-fluid"
      />
    </div>
  </div>
</div>
<app-footer />
