<app-navbar />
<h1 style="padding-left: 30px">Contact</h1>
<div class="row">
  <div class="col-md-6" style="padding-left: 50px">
    <form action="">
      <p>
        <label for="">Your name (required)</label><br />
        <input type="text" />
      </p>
      <p>
        <label for="">Your email (required)</label> <br /><input type="text" />
      </p>
      <p>
        <label for="">Subject</label><br />
        <input type="text" />
      </p>
      <p>
        <label for="">Message</label> <br /><textarea name="" id=""></textarea>
      </p>
      <p>
        <button>Send</button>
      </p>
    </form>
  </div>
  <div class="col-md-6">
    <h3>Dirección</h3>
    <p>Camino de Monachil, 24, La Zubia, Granada</p>
    <h3>Código Postal</h3>
    <p>18140</p>
    <h3>Número de teléfono</h3>
    <p>+34 677895940</p>
  </div>
</div>
<app-footer />
